@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
:root{
    --background-color: #ffffff;
    --mainColor: #000000;
    --startBtnColor:#4F46BA;
}
*, *::before, *::after{           /*Universal Selector*/
    padding: 0;
    margin: auto;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
body{
    background-image: url('images/Vector\ 1577.png');
    background-repeat: no-repeat;
    background-position: 120% 0%;
    width: 1440px;
    height: 6096px;
    
}
.max-width-1200 {
    max-width: 1200px;
}
 a{
    text-decoration: none;
 }
.flex{
    display: flex;
    /* margin-top: 40px; */
    
}
.nav-main{
    margin-top: 43px;
    z-index: 1;
}
.nav-links-group> ul > li{
    display: inline; 
    padding: 8px 10px;
    

}
/* for the down arrow */
.nav-links-group> ul > li:nth-child(1),.nav-links-group> ul > li:nth-child(2){
    background-image: url(images/Vector\ 3.png) !important;
    background-repeat: no-repeat;
    background-position: 100% 50%;
}
.nav-links-group> ul > li >a{
color: #000;
}
/* Product Dropdown */
ul ul{
   max-width: 200px;
   position: absolute;
   padding: 10px 6px;
   list-style: none;
   opacity: 0;
   z-index: -1;
   transition: all ease 0.5s;
}
ul ul li{
    margin: 0;
    width: 100%;
}
/* Template dropdown */
ul.links-1{
    max-width: 110px;
    position: absolute;
    padding: 10px 12px;
    list-style: none;
    opacity: 0;
    z-index: -1;
    transition: all ease 0.5s;
}
ul.links-1 li{
    margin-left: 80px;
    width: 100%;
}
/* Common for both */
ul li:hover ul{
   opacity: 1; 
   z-index: 1;
   padding: 30px 0px;
}
ul ul li a{
    width: 100%;
    display: inline-block;
    padding: 20px;
    background-color: var(--startBtnColor);
    color: white;
}
ul ul li a:hover{
    background-color:black ;
}
/* Dropdown ends here  */
.nav-start{
    display: inline;    
}
a.signin{
    padding: 40px;
    color: #000000;
}
a.btn{

    border-radius: 10px;
    background: #4F46BA;
    text-align: center;
    padding: 20px;
    color: #FFFFFF;
}
/* Nav bar styling ends here  */
.company-info{
    margin-top: 144px;  
    margin-bottom: 62px;
}
.main-info{
    display: flex;
    flex-direction: column;
    /* flex: 60%; */
}
.main-header{
    margin-top: -35px;
    font-weight: 800;
    font-size: 60px;
    line-height: 74px;
    /* or 123% */
    width: 646px;
    height: 222px;
    letter-spacing: -0.03em;

    color: #000000;
}
.main-para{
    margin-left: -192px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */
    width: 446px;
    height: 90px;
    letter-spacing: -0.02em;
    
    color: #64607D
}
/* .sign-in-form{
    flex: 50%;
} */
h3{
    font-size: 24px;
    line-height: 30px;
    /* identical to box height, or 125% */

    letter-spacing: -0.02em;

    /* Pallet 4 / Primary */

    color: #3734A9;
}
input{
    margin-top: 22px;
    background: #FFFFFF;
    border: 1px solid #DFE4F1;
    box-sizing: border-box;
    border-radius: 5px;
    width: 356px;
    height: 60px;
    padding: 8px;
}
.sing-up-form{
    margin-left: 0px;
}
#g-btn{
    background: #FF7F5C;
    color: white;
    cursor: pointer;
}
#g-btn:hover{
    background-color: #a3472d;
}
.get-started-btn-group{
    display: flex;
    justify-content: flex-start;
}
.process-btn> a{
    background-color: #3734A9;
    border-radius: 47px;
    padding:20px;
    color: white;
    font-size: 16px;
    line-height: 30px;
    /* identical to box height, or 188% */
    text-align: center;
    letter-spacing: -0.02em;
    margin-left: 80px;
}
#see{
    
    left: 435px;
    top: 606px;
    
    font-weight: 600;
    font-size: 17px;
    line-height: 30px;
    /* identical to box height, or 176% */
    
    letter-spacing: -0.02em;
    
    /* Pallet 4 / Primary */
    
    color: #3734A9;
    
}
.get-started-btn-group{
    display: flex;
    justify-content: flex-start;
}
.demo-btn{
    flex: 0 0 auto;
    gap: 11px;
    margin-right:820px;
}
.customers{
    flex-wrap: wrap;
    margin-top: 118px;
}
.description{
    height: 50px;
}
.tagline{
    flex-direction: column;
    margin-top: 120px;
}
.tagline-1{
    height: 40px;
}
#tag-para{
    width: 559px;
    height: 90px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    /* or 150% */

    text-align: center;
    letter-spacing: -0.02em;

    color: #64607D
}
a.we-so-btn{
    width: 549px;
    height: 48px;
    left: 445px;
    top: 1115px;

    /* Pallet 4 / Primary */

    background: #3734A9;
    border-radius: 10px;
    font-size: 17px;
    line-height: 30px;
    /* identical to box height, or 176% */
    padding: 8px;
    text-align: center;
    letter-spacing: -0.02em;

    color: #FFFFFF;
    margin-bottom: 56px;
}
#process{
    margin-top: 56px;
    margin-left: 150px;
}
.cta-box{
    background-image: url(images/Rectangle\ 171.png);
    margin-top: 214px;
    margin-bottom: 170px;
    width: 1200px;
    height: 196px;
}
#h3{
    font-weight: 800;
    font-size: 36px;
    line-height: 56px;
    /* or 156% */
    margin-right: 285px;

    letter-spacing: -0.03em;
    padding:40px 70px;
    flex: 0 1 auto;
    color: #000000;
}
.content{
    flex: 0 0 auto;
    width: 564px;
    height: 522px;
    margin: 94px;
    margin-top: 170px;
    margin-bottom: 180px;
    margin-left: 35px;
}
#cards{
    margin-top: -55px;
    width: 780px;
    height: 900px;
    
}
#check-btn{
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    background: #4F46BA;
    border-radius: 10px;
    color: #FFFFFF;
    padding: 20px 40px;
    margin-right: 40px;
    flex: 0 0 auto;
}
.text{
    margin-top: 45px;
    flex: 0 0 auto;
    flex-direction: column;
    position: relative;
    width: 490px;
    height: 469px;
}
#why{
    margin: 0px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #3734A9;
}
.text> h4{
    width: 486px;
    height: 180px;
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    margin-left: 0px;
    letter-spacing: -0.03em;

    color: #000000;
}
span{
    margin: 23px 0px;
    width: 446px;
    height: 60px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #64607D;
    
}
hr{
    margin-top: 23px;
    margin-bottom: 28px;
    margin-left: 0px;
    width: 490px;
    height: 1px;
    background: #E6E6E6
}
#text-cnt{
    margin: 0px 25px;
    width: 244px;
    height: 30px;
    font-weight: 500;
    font-size: 19px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #64607D;
}
#text-cnt>li{
    list-style-image: url(images/Group\ 155.png);
}
.icons-grp{
    margin-left: 0px;
}
.icons{
    position: relative;
}
.num{
    position: absolute;
    left: 160px;
    top: -45px;
    width: 85px;
    height: 204px;
    font-weight: 900;
    font-size: 140px;
    line-height: 204px;
    color: #000000;

    opacity: 0.05;
}
#h6{
    position: absolute;
    width: 190px;
    height: 30px;
    bottom: 14px;
    top: 100px;
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.03em;

    color: #000000;
}
.ic-para{
    position: absolute;
    width: 279px;
    height: 96px;
    top: 83px;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */

    letter-spacing: -0.02em;

    color: #757095;

}
#push{

    width: 718px;
    height: 60px;
    font-weight: 800;
    font-size: 42px;
    line-height: 60px;
    letter-spacing: -0.03em;
    color: #000000;
}
#para2{
    width: 588px;
    height: 60px;
    margin-left: 291px;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: -0.02em;

    color: #64607D;
}
.tot-props{
    margin: 60px 120px 42px 120px;
    justify-content: space-between;
}
.value-props{
    padding-top: 99px;
    padding-left: 35px;
    padding-right:45px;
    padding-bottom:40px;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    border-radius: 22px;
    margin-right: 30px;
    background-image: url("images/Vector 9.png");
    background-repeat: no-repeat;
    background-position: 40% 88%;
}
#heading{
    font-weight: 800;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.03em;
    color: #1B1C31;
    margin-bottom: 20px;
}
#para-1{
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #64607D;
}
#read-more{
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    margin-top: 20px;
    color: #01966B;
    margin-right: 10px;
}
#more-btn{
    margin-left: 535px;
    padding: 20px 50px;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    background: #4F46BA;
    border-radius: 10px;
    color: #FFFFFF;
}
.quick-stats{
    margin-top: 123px;
    width: 1200px;
    height: 170px;
    padding: 30px;
    background: #FFFFFF;
    border: 1px solid #DFDFDF;
    box-sizing: border-box;
    box-shadow: 0px 64px 194px rgba(0, 0, 0, 0.1);
    border-radius: 22px;
}
#prefered{
    font-weight: 800;
    font-size: 34px;
    line-height: 46px;
    width: 331px;
    height: 92px;
    letter-spacing: -0.03em;
}
.testimonails{
    margin-top: 162px;
    margin-left: -40px;
    flex-direction: column;
}
.testimonails>p {
    margin-left: 124px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #3734A9;
}
.testimonails>h1{
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.03em;
    width: 324px;
    height: 96px;
    margin-left: 124px;
    color: #000000;
}
.segment{
    margin-top: 30px;
    margin-left: 82px;
    width: 1197px;
    height: 617px;
}
#segment-image{
    margin-right: 88px;
    margin-top: 0px;
    width: 656px;
    height: 437px;
}
.quotes{
    margin-top: 0px;
}
h3#save-time{
    margin-left: 0px;
    margin-bottom: 16px;
    width: 280.05px;
    height: 60px;
    font-weight: 800;
    font-size: 20px;
    line-height: 30px;
    color: #000;

    letter-spacing: -0.03em;
}
#para-4{
    font-size: 16px;
    line-height: 24px;
    width: 455px;
    height: 168px;
    letter-spacing: -0.02em;
    color: #757095;
    margin-bottom: 14px;

}
#ar{
    margin-top: 5px;
    margin-bottom: 1px;
    font-weight: 800;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.03em;

    color: #000000;
}
#ceo{
    font-size: 14px;
    line-height: 24px;
    /* identical to box height, or 171% */

    letter-spacing: -0.02em;

    color: #757095;
}
.blog{
    margin-left: -170px;
}
#lat-blog{
    font-weight: 800;
    font-size: 42px;
    line-height: 50px;
    letter-spacing: -0.03em;
    margin-left: 248px;
    color: #000000;
}
#blog-btn{
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    padding: 20px 30px;
    text-align: center;
    background: #4F46BA;
    border-radius: 10px;
    color: #DEE1E6;
    margin-right: 70px;
}
.blog-item{
    width: 1200px;
    height: 518px;
    margin-top: 66px;
    margin-left: 70px;
    margin-right: 0px;
    margin-bottom: 100px;
}
.blog-post-item{
    flex-direction: column;
    margin-right: 30px;
    width: 380px;
    height: 495px;
}
#txt-para-1{
    margin-left: 0px;
    width: 358px;
    height: 90px;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #64607D;
}
#blog-img{
    width: 378px;
    height: 270px;
    border-radius: 10px;
} 
.dat-cat{
    flex-direction: row;
    margin-top: 14px;
    margin-bottom: 11px;
    margin-left: 0px;
    width: 165px;
    height: 30px;
    gap: 20px;
}
#txt-head{
    width: 378px;
    height: 72px;
    font-weight: 800;
    font-size: 20px;
    line-height: 36px;
    /* or 180% */
    margin-bottom: 8px;
    letter-spacing: -0.03em;

    color: #000000;
}
#txt-para{
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #64607D;
}
.blog-post-items{
    width: 378px;
    height: 518px;
    margin-top: 12px;
    flex-direction: column;
}
.mgbt{
    margin-bottom: 0px;
}
.flex-4{
    margin-left: 136px;
    margin-top: -100px;
    margin-right: -85px;
    flex-direction: column;
}
.f-cnt{
    background: #3734A9;
    width: 1440px;
    height: 450px;
    gap: 284px;
    /* padding: 74px 120px; */
}
.f-info{
    margin-left: 122px;
}
.f-email{
    margin-right: 229px;
}
#why-1{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-bottom: 15px;
}
#f-h4{
    width: 483px;
    height: 180px;
    font-weight: 800;
    font-size: 50px;
    line-height: 60px;
    /* or 120% */
    margin: 0px;
    letter-spacing: -0.03em;
    margin-bottom: 29px;
    color: #FFFFFF;
}
#f-para{
    margin: 23px 0px;
    width: 446px;
    height: 60px;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: -0.02em;
    color: #fff;
}
.footer{
    margin:123px 128px 64px 172px;
    gap: 80px;
}
.foot{
    flex-direction: column;
}
.one{
    margin-top: 22px;
}
.one>h5{
    margin-left: 0px;
    margin-bottom: 18px;
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    /* identical to box height, or 133% */

    letter-spacing: -0.02em;

    /* Pallet 1 / Dark */

    color: #1B1C31;
}
.one>p{
    color: #757095;
    margin-bottom: 31px;
}
.one>img{
    margin-left: 0px;
}
.two>h5{
    margin-top: 20px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    /* identical to box height, or 133% */

    letter-spacing: -0.02em;

    /* Pallet 1 / Dark */

    color: #1B1C31;
}
.two>ul>li{
    font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
margin-bottom: 18px;

color: #181433;
}
.three>h5{
    margin-top: 24px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    letter-spacing: -0.02em;
    color: #1B1C31;
    margin-right: 140px;
    flex: 1 0 auto;
}
.three>ul>li{

    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    margin-bottom: 18px;
    margin-left: -68px;
    color: #181433;
}
.four{
    margin-left: -80px;
}
.four>h5{
    margin-top: 20px;
    margin-bottom: 24px;
    margin-left: 0px;
    font-weight: 700;
    font-size: 21px;
    line-height: 28px;
    /* identical to box height, or 133% */

    letter-spacing: -0.02em;

    /* Pallet 1 / Dark */

    color: #1B1C31;
}
.four> p{
    margin-left: 0px;
    margin-top: 21px;
    width: 329px;
    height: 52px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* or 162% */

    letter-spacing: -0.02em;

    color: #181433;

    opacity: 0.5;
}
.last{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    /* identical to box height, or 162% */

    text-align: center;
    letter-spacing: -0.02em;

    color: #181433;
}